<h3 class="dark-green-txt">Mortismart</h3>
<div class="section main-green pt-0 d-none">
    <p class="lead">Calculate your mortgage and communicate with others </p>
</div>
<div class="divider"></div>
<div class="section">
    <form action="/" method="POST">
        <div class="row">
            <div class="input-field col s12">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="validate" required>
            </div>

        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="validate" required>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-login teal lighten-3" type="submit"><i
                    class="fa-solid fa-arrow-right-to-bracket left"></i>Login</button>
            <a href="/register" class="btn btn-login light-blue lighten-3 mt-15">
                <i class="fa-solid fa-user-plus left"></i> Register Account
            </a>
            <a id="google-login" href="/auth/google" class="btn btn-login red lighten-3 mt-15">
                <i class="fa-brands fa-google left"></i> Login with Google
            </a>
        </div>
        <div class="row mb-0">
            <div id="login-progress" class="progress m-0 d-none">
                <div class="indeterminate"></div>
            </div>
        </div>
    </form>
</div>