

<div class="container">
    <h3>News</h3>
    <p> Stay up to date with the latest news in the world of finance and business.</p>

    <div id="news-container" class="container">
        <div class="news-row row mb-0">
            <div id="news-progress" class="progress m-0">
                <div class="indeterminate"></div>
            </div>
        </div>
    </div>
    
</div>
<script type="module" src="scripts/news.js"></script>