body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.top-bar{
    position: fixed;
    background: rgb(56, 95, 56);
    height: 40px;
    width: 100%;
    top:0;
    z-index:999;
}

.footer{
    position: fixed;
    background: rgb(156, 156, 156);
    height: 40px;
    width: 100%;
    bottom:0;
    z-index:999;
}